* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body{
    background-color: #000000;
}

.cantidad-contenedor {
    display: flex;
    align-items: center;
    border: 1px solid #dc0c0c;
    border-radius: 5px;
    width: fit-content;
}

.cantidad-contenedor button {
    background-color: #1bbecd;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s;
}

.cantidad-contenedor button:hover {
    background-color: #d41212;
}

.cantidad-contenedor input {
    border: none;
    text-align: center;
    width: 50px;
    font-size: 16px;
    font-weight: bold;
}

/* Ocultar las flechas de los input number en navegadores web */
/* .cantidad-contenedor input::-webkit-outer-spin-button,
.cantidad-contenedor input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* .value-control {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    border-color: #7bc71e;
    border-style: solid;
    background-color: #ffffff;
    border
}

.value-control > p {
    color: #7bc71e;
}

#ffff01 */

:root {
  --border-radius: 50px;
  --border: 2px solid #ffffff;
  --control-size: 38px;
  --font-size: 1.2rem;
}

.value-control {
  width: var(--control-size);
  height: var(--control-size);
  /* margin: 0 8px; */
  background: #ffff01;
  border: var(--border) transparent;
  border-radius: var(--border-radius);
  color: #000000;
  cursor: pointer;
  font-size: var(--font-size);
  transition: 0.2s;
}

.value-control:hover {
  background: #000000;
  color: #ffffff;
  border: var(--border);
}

.value-control:active {
  background: #ffffff;
  color: #000000;
}

.value-input {
  margin: 0;
  height: var(--control-size);
  width: 80px;
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--font-size);
}

#numberInput.value-input {
    background: none;
    color: white;
    border: none;
}
