* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    background-color: #000000;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



:root {
  --border-radius: 50px;
  --border: 2px solid #ffffff;
  --control-size: 38px;
  --font-size: 1.2rem;
}

.value-control {
  width: var(--control-size);
  height: var(--control-size);
  /* margin: 0 8px; */
  background: #ffff01;
  border: var(--border) transparent;
  border-radius: var(--border-radius);
  color: #000000;
  cursor: pointer;
  font-size: var(--font-size);
  transition: 0.2s;
}

.value-control:hover {
  background: #000000;
  color: #ffffff;
  border: var(--border);
}

.value-control:active {
  background: #ffffff;
  color: #000000;
}

.value-input {
  margin: 0;
  height: var(--control-size);
  width: 30px;
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
  font-size: var(--font-size);
}

/* #numberInput.value-input {
    background: none;
    color: white;
    border: none;
} */

.value-input {
    background: none;
    color: white;
    border: none;
}
