* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --bg-color: black;
    --text-color: white;
    --ac-color: #ffff01;

}





/* HOME */

/* MAPA */

/* DISCOTECA */

/* CATÁLOGO */

/* REMENBER  */

/* TICKET */

/* FORMU */