* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

/* VARIABLES */
:root{
    --bg-color: black;
    --text-color: white;
    --ac-color: #ffff01;
}

/* FONTS */
@font-face {
    font-family: bold;
    src: url(../fonts/Bold.otf);
}
@font-face {
    font-family: bolditalic;
    src: url(../fonts/Bolditalic.otf);
}
@font-face {
    font-family: Druk;
    src: url(../fonts/Druk.ttf);
}
@font-face {
    font-family: Light;
    src: url(../fonts/Lightitalic.otf);
}
@font-face {
    font-family: Lightitalic;
    src: url(../fonts/Lightitalic.otf);
}
@font-face {
    font-family: Medium;
    src: url(../fonts/Medium.otf);
}
@font-face {
    font-family: Mediumitalic;
    src: url(../fonts/Mediumitalic.otf);
}
@font-face {
    font-family: Normal;
    src: url(../fonts/Normal.otf);
}
@font-face {
    font-family: Normalitalic;
    src: url(../fonts/Normalitalic.otf);
}
@font-face {
    font-family: Semibold;
    src: url(../fonts/Semibold.otf);
}
@font-face {
    font-family: Semibolditalic;
    src: url(../fonts/Semibolditalic.otf);
}


img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

.wrapper {
    padding: 0 40px;
}

h1 {
    font-size: 3.5rem;
    font-family: Druk;
}

h2 {
    font-size: 2.5rem;
    font-family: Semibold;
}

p {
    font-size: 1.2rem;
    font-family: Normal;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

/* NAV */


header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid var(--text-color);
    width: 100%;
    font-family: Medium;
    z-index: 9999;
}

nav > ul {
    gap: 2rem;
}

header a {
    color: var(--text-color);
}

header > a > img {
    width: 46px;
    height: auto;
}

/* MENU DESKTOP */
.menu-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-desktop > li > a {
    font-size: 20px;
}

.menu-desktop > li > a:hover {
    color: var(--ac-color);
    transition: 0.3s;
}

/* MENU MOBILE */

.nav-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: var(--pr-color);
    z-index: 9999;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.menu-mobile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
    font-family: Medium;
    
}

.menu-mobile > li {
    display: flex;
    border-bottom: 1px solid var(--text-color);
    padding: 0 10px;
}

.menu-mobile > li > a {
    font-size: 3.8rem;
}

/* MENU ICONS */
.hamb {
    display: none;
    cursor: pointer;
    font-size: 20px;
    transform: scale(1.8);
}


.side-menu {
    display: none;
}

.hamb > .fa-xmark {
    display: none;
}

/* .hamb > .fa-bars {

} */

.side-menu:checked ~ .nav-mobile { 
    max-height: 100%;
}

.side-menu:checked ~ .hamb > .fa-bars {
    display: none;
}

.side-menu:checked ~ .hamb > .fa-xmark {
    display: block;
}

/* FOOTER */

footer {
    background-color: var(--ac-color);
    color: var(--bg-color);
    width: 100vw;
    margin: 0px -40px;
    padding: 6rem 40px 0px 40px;
}


.bg-yellow-footer > div > img {
    width: 15vh;
    height: auto;
    margin-bottom: 4rem;
    
}

.bg-yellow-footer > div > h2 {
    color: var(--bg-color);
    font-size: 2rem;
}

.form-item-footer > div > a > p {
    background-color: var(--bg-color);
    width: fit-content;
    padding: 8px 40px;
    border-radius: 20px;
}

.form-item-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-item-footer > div > input {
    width: 20rem;
    border: 2px solid var(--bg-color);
}

.form-item-footer > div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
   
}

.bg-yellow-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.bg-yellow-footer > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 2rem;
}

.center-footer {
    align-self: center;
}

.bg-yellow-footer > div > div > h2 {
    color: var(--bg-color);
    font-size: 1.5rem;
}

.bg-yellow-footer > div > div > p {
    color: var(--bg-color);
}

.bg-yellow-footer > div > div > a > i {
    color: var(--bg-color);
    font-size: 2rem;
    margin-left: 1rem;
}

.check-footer {
    display: flex;
    align-self: center;
    color: var(--bg-color);
    padding: 1rem;
    gap: 0.5rem;
    padding-bottom: 6rem;
}

.check-footer > p {
    color: var(--bg-color); 
    font-size:  0.95rem;
}

.check-footer > input {
    width: 1.5rem;
}

.bg-black-footer {
    background-color: var(--bg-color);
    margin: 0px -40px;
}

.bg-black-footer > ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 3rem;
    flex-wrap: wrap;
}

.bg-black-footer > ul > li > p {
    font-size: 1rem;
}















/* HOME */

/* MAPA */

/* DISCOTECA */

/* CATÁLOGO */

/* REMENBER  */

/* TICKET */

/* FORMU */


@media screen and (max-width:480px) {

    header {
        padding-left: 10px;
    }
    
     
    .nav-desktop {
        display: none;
    }

    .hamb {
        display: block;
    }

}
